/Lab2JavaSwing/nbproject/private/
/Lab2JavaSwing/build/
/JavaApplicationLAB3/nbproject/private/
/JavaApplication5/nbproject/private/
/JavaApplication6/nbproject/private/
/JavaApplication6/build/
/JavaSwingLab2/nbproject/private/
/JavaSwingLab2/build/
/JavaSwingLab3/nbproject/private/
/JavaSwingLab3/build/
/JavaSwingLab4/nbproject/private/
/JavaSwingLab4/build/
/Lab5_JavaFX/dist/
/JavaSwingLab2/dist/
